
// Pipeline parameters
params {
  outdir = "results"
  pipeline_info = "${params.outdir}/pipeline_info"

  samplesheet = "samplesheet.csv"  // CSV file with columns: sample_id,sj_file,library_size
  gtf = null

  dasper_outdir = "dasperannots"  // Subdir for dasper outputs

  // filter_dasper params
  min_intron = 50
  max_intron = 500000
  scale_factor = 10000000  // 1e7 as integer

  counts_col = "scaled"  // For neojunction.R

  help = false
}

process {
  cpus = 2
  time = 2.h
  errorStrategy = 'finish' // terminate on error but let running jobs finish
}

profiles {
  docker {
    docker.enabled          = true
    docker.runOptions       = '-u $(id -u):$(id -g)'
    process.container       = 'virushunter/dasper:v1.0.0'
  }

  singularity {
    singularity.enabled     = true
    singularity.autoMounts  = true
    process.container       = 'docker://virushunter/dasper:v1.0.0'
  }
}

report {
  enabled = true
  file = "${params.pipeline_info}/report.html"
  overwrite = true
}
timeline {
  enabled = true
  file = "${params.pipeline_info}/timeline.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.pipeline_info}/trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.pipeline_info}/flowchart.dot"
  overwrite = true
  // file = "${params.pipeline_info}/flowchart.png" //requires graphviz for rendering
}

manifest {
    name            = 'pcantalupo/neojunction-dasper'
    homePage        = 'https://github.com/pcantalupo/neojunction-dasper'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'

    // Major: breaking changes to inputs/outputs/behavior
    // Minor: new features, backwards-compatible changes
    // Patch: bug fixes and small, non-breaking changes
    version         = '1.0.1'
}

